<div class="container">
  <h3 class="header center">Refugee Wishlist</h3>
  <div class="row center">
    <p class="flow-text">

      Thank you from the bottom of our hearts!
    </p>
  </div>
  <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons large">subtitles</i></h2>
            <h5 class="center">Checks</h5>
            <p class="light">
              Please make any checks out to the
              <strong>International Institute</strong>
              and write
              <strong>CCC/CRC Drive</strong>
              in the memo line.
            </p>
            <p>
              Checks can be mailed to <br>
              <strong>
                Central Reform Congregation
                <br>
                5020 Waterman Blvd
                <br>
                St. Louis, MO 63108
              </strong>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">redeem</i></h2>
            <h5 class="center">Goods</h5>

            <p class="light">
              Donations will be collected at Central Reform
              Congregation until December 22.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">credit_card</i></h2>
            <h5 class="center">Credit Cards</h5>

            <p class="light">
              Credit card donations can be made at
              <a href="http://www.centralreform.org/donate">centralreform.org/donate</a>.
              Please be sure to designate that the donation should go to the refugees.
            </p>
          </div>
        </div>
      </div>

    </div>
</div>
<div class="wishlist"></div>

  <!-- Modal Structure -->
  <div id="donateInstructions" class="modal">
    <div class="modal-content">
      <a class="right modal-close">X</a>
      <div class="container">
        <div class="row">
          <h4>How to Donate</h4>
        </div>
        <div class="row">
          Please email
          <a href="mailto:bgschiller@gmail.com?subject=refugee+drive">bgschiller@gmail.com</a>
          in order to update this page
          with your donation.
        </div>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="col s4">
                <i class="material-icons large">subtitles</i>
              </div>
              <div class="col s8">
                <h5>Checks</h5>
                <p>Please make any checks out to the
                <strong>International Institute</strong>
                and write
                <strong>CCC/CRC Drive</strong>
                in the memo line.</p>
                <p>
                  Checks can be mailed to <br>
                  <strong>
                    Central Reform Congregation
                    <br>
                    5020 Waterman Blvd
                    <br>
                    St. Louis, MO 63108
                  </strong>
                </p>
              </div>
          </div>
        </div>
          <div class="col s12">
            <div class="row">
              <div class="col s4">
                <i class="material-icons large">redeem</i>
              </div>
              <div class="col s8">
                <h5>Goods</h5>
                <p>Material goods (new and used) can be dropped off
                 at Central Reform Congregation until Dec 22.</p>
              </div>
            </div>
          </div>
          <div class="col s12">
            <div class="row">
              <div class="col s4">
                <i class="material-icons large">credit_card</i>
              </div>
              <div class="col s8">
                <h5>Credit Card</h5>
                <p>
                  Credit card donations can be made at
                  <a href="http://www.centralreform.org/donate">centralreform.org/donate</a>.
                  Please be sure to designate that the donation should go to the refugees.
                </p>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
    </div>
  </div>
