.progress-inactive {
  background-color: #eee;
  width: 100%;
  border-radius: 2px;
  position: relative;
  height: 20px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
  .complete {
    background-color: #1e88e5;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .completed {
    background-color: #43a047;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
  }

}
